
.cartWrapper{
    padding: 20px;
}
#cartTitle{
    text-align: center;
}
.cartTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#topText{
    text-decoration: underline;
    cursor: pointer;
}
.cartBottom{
    display: flex;
    justify-content: space-between;
}
.productCart{
    flex:3;
}
.cartSummary{
    flex:1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}
.cartInfo{
    display: flex;
    justify-content: space-between;
    flex: 2;
}
.productSpecs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.productDetails{
    display: flex;
    padding: 20px;
    flex:2;
}
#shoe{
    width: 200px;
}
.productPrice{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.productAmountContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#line{
    background-color: #eee;
    border: none;
    height: 1px;
}
.summaryItem{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
#checkoutButton{
    padding:10px;
    border:none;
    width: 100%;
    background-color: black;
    color:white;
}

@media only screen and (max-width: 800px) {
    .cartBottom{
        flex-direction: column;
    }
    #topText{
        display:none;
    }
    b{
        font-size: 13px;
    }
}
@media only screen and (max-width: 480px){
    .cartInfo{
        flex-direction: column;
    }
}
@media only screen and (max-width: 400px){
    b{
        font-size:10px;
    }
}
