.productContainer{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imageContainer{
    margin: 10px;
    height: 430px;
    width: 380px;
    margin-bottom: 50px;
    position: relative;
}
#productImage{
    height: 100%;
    cursor: pointer;
    border-radius: 2px;
    width: 100%;
    background-color: #f5fbfd;
    z-index: 3;
}
#productHeading{
    text-align: center;
    padding: 30px;
}
#productTitle{
    text-align: center;
    width:auto;
}
#productSearch,#productBorder,#productCart{
    cursor: pointer;
}
.icon1,.icon2,.icon3{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.imageContainer img:hover{
    transform: scale(1.01);
    cursor: pointer;
    transition: all 0.4s;
}
.filterSection{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.filterProducts{
    display: flex;
    align-items: center;
    margin-right: 150px;
}
.sortProducts{
    display: flex;
    align-items: center;
}
#sizeSelect,#colorSelect,#productSelect{
    margin-right: 10px;
    padding: 10px;
}
#filter, #sort{
    margin-right: 10px;
}
@media only screen and (max-width: 715px) {
    .filterSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filterProducts{
        margin-right:0;
        padding-bottom: 30px;
    }
}
